body {
  margin: 0px;
}

canvas {
  background-color: rgb(230, 242, 249);
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/036/826/037/large/pete-amachree-atlantean-numenorean-mausoleum.jpg?1618742231");
}

img {
  display: none;
}
